Conhecendo a OmniStack _ Semana OmniStack 11.0.mp4
Criando a base da aplicação - Semana OmniStack 11.0.mp4
Construindo a interface web - Semana OmniStack 11.0.mp4
Desenvolvendo o app mobile - Semana OmniStack 11.0.mp4